.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    h1 {
        font-family: sans-serif;
        margin-bottom: 20px;
    }

    .scanResultCardWrapper {
        margin-top: 40px;
    }
}