body {
  background-color: #f7f2f0;
  height: 100vh;
}

input {
  outline: none; 
  border: 0; /* Add a custom border */

}

input:focus, input:hover {
  outline: none; /* Remove the default browser outline */
  box-shadow: none; /* Reset any default focus shadows */
  /* You can add your custom focus styles here, e.g.: */
  border: 0; /* Add a custom border */
}

* {
  margin: 0;
  padding: 0;
}
