.LayoutContainer {
    height: 100vh;
    position: relative;

    .backgroundImage {
        position: absolute;
        left: -39%;
        top: -5%;
        transform: rotate(270deg); 
        z-index: -1;
        opacity: 0.04;

        img {
            width: 947px;
        }
    }
}